@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 font-sans;
  }

  .russo {
    font-family: 'Russo One', sans-serif;
  }

  .noto {
    font-family: 'Noto Sans TC', sans-serif;
  }

  body {
    text-rendering: optimizeLegibility;
  }

  #app { background-color: #f7f7f7; }

  .result-bg #app { background-color: white; }

  * {
    font-family: 'Noto Sans TC', sans-serif;
  }
}
